.fa-envelope {

    color: #FFFFFF;
}

.fa-github {

    color: #9B42A7;

}

.fa-linkedin-in {

    color: #4875B4;

}

.fa-html5 {

    color: #e34c26;
}

.fa-bold {

    color: #563D7C;
}

.fa-js {

    color: #F0DB4F;
}

.navbar-nav {

    float: none;
    text-align: center;
    padding: 25px;
}


.parallax {

    max-width: 100%;
    margin: 0 auto;
    background: url(../assets/background1.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 1300px;

}



html {
    font-size: 1rem;
}

#main {

    padding-top: 175px;
}

h1 {

    text-align: center;


    letter-spacing: -1px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;

}


hr {

    border-top: 1.5px solid #FFFFFF;
    border-bottom: 1.5px solid #FFFFFF;
    border-color: #FFFFFF;

}




figure.main_heading:hover figcaption {

    -webkit-transform: rotate(-45deg) translateY(-50%) scale(0.9);
    transform: rotate(-45deg) translateY(-50%) scale(0.9);

}

figure.main_heading:hover figcaption hr.top {

    -webkit-transform: scale(0);
    transform: scale(1.3) translateX(-15%);

}


figure.main_heading:hover figcaption hr.bottom {

    -webkit-transform: scale(0);
    transform: scale(1.3) translateX(15%);

}

figure.main_heading figcaption h1 span {
    font-weight: 600;
}


figure.main_heading * {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.fa-linkedin-in {

    opacity: 0.30;
}

.fa-github {

    opacity: 0.30;
}


.fa-envelope {

    opacity: 0.30;
}


.permahover {

    opacity: 1.2;
    transition: 0;

}

p {

    color: white;
}


/* Custom, iPhone Retina */
@media only screen and (min-width:50px) and (max-width : 480px) {
    #name {
        font-size: 30px;
    }


}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) and (max-width : 768px) {
    #name {
        font-size: 30px;
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width : 992px) {
    #name {
        font-size: 35px;
    }


}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width: 1200px) {
    #name {
        font-size: 50px;
    }
    
    

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    #name {
        font-size: 45px;
    }

}
